<% errors = resource.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead">
      <p><%= "#{t('form.devise.in_your_form')} #{errors.count} #{t('global.errors', count: errors.count)}" %></p>
    </div>
    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
