<div class="text-center">
  <h1><%= @user.name %></h1>

<!--  Реализовать хелпер и использовать его вместо image_pack_tag-->
  <%#= image_tag user_avatar(@user) %>
  <%= image_pack_tag('user.png') %>

  <% if @user == current_user %>
    <p>
      <%= link_to "#{t('global.actions.verb.edit')} #{t('global.profile.one')}".downcase.capitalize, edit_user_path(@user), class: 'btn btn-success' %>
    </p>
  <% end %>


  <div class="row">
    <div class="col-md-12">
      <% if @user.events.any? %>
        <h3>Организовал:</h3>
        <div class="row">
          <%= render partial: 'events/event', collection: @user.events %>
        </div>
      <% else %>
        <p class="buffer-top">Пользователь не организовал ни одного события</p>
      <% end %>
    </div>
  </div>
</div>
