<h1><%= "#{t('activerecord.models.event.of')}" %></h1>

<div class="buffer-both">
  <%= link_to "#{t('global.actions.verb.create')} #{t('activerecord.models.event.one')}".downcase.capitalize, new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
